body {
  font-family: Overpass;
  margin: 0;
}

h1,
h2,
h3 {
  color: #707072;
  font-family: Chivo;
}

p {
  color: #707072;
  opacity: .7;
  
}

a {
  text-decoration: none;
  color: #707072;
}
a:hover {
  color: #b3b3b5;
}

#search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  width: 100vw;
  color: #707072;
}

#search p {
  margin-right: 10px;
}

#search input[type="text"] {
  width: 300px;
  color: #707072; 
  border: 1px solid rgba(112, 112, 114, 0.5);
}

#search button {
  margin-left: 10px; 
  color: #707072; 
  border: 1px solid rgba(112, 112, 114, 0.5);
}


#main-container {
  width: 96vw;
  padding: 20px 2vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('background.webp');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

header p {
  color: white;
  font-size: 24px;
}

.article {
  background: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 90%;
  text-align: center;
  padding: 10px;
  margin: 8px;
  justify-self: center;
  display: flex;
  align-items: center;
}

.article img {
  width: 170px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.article a {
  flex: 1;
}

footer {
  background: #707072;
  opacity: .7;

  text-align: center;
  padding: 5px 0;
}

footer p {
  color: white;
}

